body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

div + div {
    margin-top: 1em;
}

label {
    display: block;
    margin-bottom: .5em;
    color: #333333;
}

input {
    border: 1px solid #CCCCCC;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border-radius: .5em;
}

button {
    padding: 0.7em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}
